<div class="container">
    <div class="jumbotron">
       <h1 class="text-warning">Player Listing</h1>
         <table class="table">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>TeamID</th>
                <th>Category</th>
                <th>Bidding Price</th>

            </thead>
            <tbody>
                <tr *ngFor="let m of playerdata;let i=index">
                    <td >{{i+1}}</td>
                    <td>{{m.name}}</td>
                    <td>{{m.age}}</td>
                    <td>{{m.teamID}}</td>
                    <td>{{m.category}}</td>
                    <td>{{m.biddingPrice}}</td>
                    <td>
                        <a [routerLink] = "['/edit/',m.id]">Edit</a>
                    </td>
                    <td>
                        <a [routerLink] = "['/delete/',m.id]">Delete</a>
                    </td>

                </tr>
            </tbody>        
        </table>
    </div>
</div>